h1,h2,h3{
    color:white;
}

.gaugeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90vw;
    height:100vh;
    align-items: center;
    font-size: 32px;
    gap: 40px;
}

.half-arc {
    position: relative;
    width: 200px;
    height: 100px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    border-bottom: 0;
    background: #0094ff;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .half-arc:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        border-radius: 50%;
        background-image: conic-gradient(#ff6a00, #0094ff calc(var(--percentage, 0) / 2), #bbb 0);
        transition: transform .5s ease-in-out;
        z-index: 1;
        transform: rotate(270deg);
    }

    .half-arc:after {
        content: "";
        position: absolute;
        display: block;
        background: rgb(176,11,105);
        background: linear-gradient(144deg, rgba(176,11,105,1) 0%, rgba(66,10,85,1) 35%, rgba(4,32,105,1) 100%);
        background-attachment: fixed;
        z-index: 2;
        width: calc(100% - 32px);
        height: calc(200% - 32px);
        border-radius: 50%;
        top: 16px;
        left: 16px;
    }

    .half-arc span {
        color: white;
        z-index: 3;
        text-align: center;
    }